<template>
    <block v-if="!token">
        <view class="loginimg">
            <image src="../../static/images/icon/logo.png"></image>
        </view>
        <button type="primary" @click="getUserProfile">微信授权登录</button>
    </block>

    <block v-else>
        <view class="loginimg">
            <image :src="userInfo.avatarUrl"></image>
        </view>
        <view>{{ userInfo.nickName }}</view>
        <button @click="removeLogin">退出登录</button>
    </block>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex';
export default {
    name: 'my-login',
    data() {
        return {};
    },
    computed: {
        ...mapState('user', ['userInfo', 'token']),
    },
    methods: {
        ...mapMutations('user', ['removeStoreage']),
        ...mapActions('user', ['getToken']),
        getUserProfile() {
            uni.getUserProfile({
                //用户授权
                desc: '用户获取用户信息',
                success: res => {
                    console.log(res.userInfo, '123123');
                    uni.login({
                        //用户登录，获取登录凭证
                        success: async res1 => {
                            console.log(res1, 'res1code');
                            //调接口，拿token
                            await this.getToken({ code: res1.code, userInfo: res.userInfo });
                            this.$emit('loginsucess'); //子向父传参
                        },
                    });
                },
                fail: err => {
                    console.log(err);
                    uni.showToast({
                        title: '用户拒绝访问',
                    });
                },
            });
        },
        removeLogin() {
            this.removeStoreage();
        },
    },
};
</script>

<style lang="scss">
.loginimg {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    image {
        height: 100px;
        width: 100px;
        display: block;
    }
}
</style>
