<template>
	<view>
		<my-search :isShow="false"  :val="val"></my-search>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				val:''
			};
		},
		onLoad(options) {
			console.log(options,'options')
			let {val} = options;
			this.val = val;
		}
	}
</script>

<style lang="scss">

</style>
