<template>
    <view>
        <view class="search" v-if="isShow">
            <image class="searchimg" src="../../static/images/icon/search.png"></image>
            <text class="searchtext">搜索</text>
        </view>
        <view v-else>
            <uni-search-bar
			    :value="val"
                @confirm="search"
                :focus="true"
                @input="input"
                @cancel="cancel"
                @clear="clear"
            ></uni-search-bar>
        </view>
    </view>
</template>

<script>
export default {
    name: 'my-search',
	props:{
		isShow:{
			type:Boolean,
			default:true
		},
		val:{
			type:String,
			default:''
		}
	},
    data() {
        return {};
    },
    methods: {
        search({value}) {
			//回车的时候触发的事件
			// console.log(12312321,'res',value)
			this.$emit('confirm',value); //子组件通知父组件
            // uni.showToast({
            //     title: '搜索：' + res.value,
            //     icon: 'none',
            // });
        },
        input(res) {
            console.log('----input:', res);
        },
        clear(res) {
            // uni.showToast({
            //     title: 'clear事件，清除值为：' + res.value,
            //     icon: 'none',
            // });
        },
        cancel(res) {
            // uni.showToast({
            //     title: '点击取消，输入值为：' + res.value,
            //     icon: 'none',
            // });
        },
    },
};
</script>

<style lang="scss" scoped>
.search {
    height: 60rpx;
    width: 80%;
    margin: 0 auto;
    border-radius: 50rpx;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    .searchimg {
        height: 32rpx;
        width: 32rpx;
        margin-right: 10rpx;
    }
    .searchtext {
        font-size: 24rpx;
        color: #999;
    }
}
</style>
