<template>
    <view>
        <view class="uni-padding-wrap">
            <view class="uni-title">日期：{{ year }}年{{ month }}月{{ day }}日</view>
        </view>
        <picker-view
            v-if="visible"
            :indicator-style="indicatorStyle"
            :value="value"
            @change="bindChange"
            class="picker-view"
        >
            <picker-view-column>
                <view class="item" v-for="(item, index) in provinceList" :key="item.areaId">
                    {{ item.areaName }}
                </view>
            </picker-view-column>
            <picker-view-column>
                <view class="item" v-for="(item, index) in cityList" :key="item.areaId">
                    {{ item.areaName }}
                </view>
            </picker-view-column>
            <picker-view-column>
                <view class="item" v-for="(item, index) in areaList" :key="item.areaId">
                    {{ item.areaName }}
                </view>
            </picker-view-column>
        </picker-view>
    </view>
</template>

<script>
import { listByPid } from '@/api/api';
export default {
    data: function () {
        return {
            visible: true,
            provinceList: [],
            cityList: [],
            areaList: [],
            val: [0, 0, 0],
        };
    },
    created() {
        this.getProvince();
    },
    methods: {
        async getProvince() {
            let res = await listByPid({
                pid: 0,
            });
            this.provinceList = res;
            this.getCity(this.provinceList[0].areaId);
            console.log(res, 'res&&&&&&');
        },
        async getCity(id) {
            let res = await listByPid({
                pid: id,
            });
            this.cityList = res;
            this.getArea(this.cityList[0].areaId);
        },
        async getArea(id) {
            let res = await listByPid({
                pid: id,
            });
            this.areaList = res;
        },

        bindChange: function (e) {
            const val = e.detail.value;
            console.log(val, 'val');
        },
    },
};
</script>

<style>
.picker-view {
    width: 750rpx;
    height: 600rpx;
    margin-top: 20rpx;
}
.item {
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
</style>
