<template>
    <view>
        <view class="uni-padding-wrap" @click="showPicker">
            <view class="uni-title">{{ text }}</view>
        </view>
        <button @click="sure">确定</button>
        <picker-view
            v-if="visible"
            :indicator-style="indicatorStyle"
            :value="value"
            @change="bindChange"
            class="picker-view"
        >
            <picker-view-column>
                <view class="item" v-for="(item, index) in provinceList" :key="item.areaId">
                    {{ item.areaName }}
                </view>
            </picker-view-column>
            <picker-view-column>
                <view class="item" v-for="(item, index) in cityList" :key="item.areaId">
                    {{ item.areaName }}
                </view>
            </picker-view-column>
            <picker-view-column>
                <view class="item" v-for="(item, index) in areaList" :key="item.areaId">
                    {{ item.areaName }}
                </view>
            </picker-view-column>
        </picker-view>
    </view>
</template>

<script>
import { listByPid } from '@/api/api';
export default {
    data: function () {
        return {
            visible: false,
            provinceList: [],
            cityList: [],
            areaList: [],
            val: [0, 0, 0],
            text: '请选择地址',
        };
    },
    created() {
        this.getProvince(0);
    },
    watch: {
        val: {
            handler: function (newval, oldval) {
                this.text =
                    this.provinceList[newval[0]].areaName +
                    this.cityList[newval[1]].areaName +
                    this.areaList[newval[2]].areaName;
            },

            deep: true,
        },
    },
    methods: {
        showPicker() {
            this.visible = true;
        },
        sure() {
            this.visible = !this.visible;
            this.text =
                this.provinceList[this.val[0]].areaName +
                this.cityList[this.val[1]].areaName +
                this.areaList[this.val[2]].areaName;
        },
        async getlist(id, type, callback) {
            let res = await listByPid({
                pid: id,
            });
            this[type] = res;
            callback && callback();
        },
        async getProvince(id) {
            this.getlist(id, 'provinceList', () => {
                this.getCity(this.provinceList[this.val[0]].areaId);
            });
            // let res = await listByPid({
            //     pid: id,
            // });
            // this.provinceList = res;
        },
        async getCity(id) {
            this.getlist(id, 'cityList', () => {
                this.getArea(this.cityList[this.val[1]].areaId);
            });
            // let res = await listByPid({
            //     pid: id,
            // });
            // this.cityList = res;
        },
        async getArea(id) {
            // let res = await listByPid({
            //     pid: id,
            // });
            // this.areaList = res;
            this.getlist(id, 'areaList');
        },

        bindChange: function (e) {
            const val = e.detail.value; //3列选择项的下标
            this.val = val;
            console.log(val, 'val');
            this.getCity(this.provinceList[val[0]].areaId);
        },
    },
};
</script>

<style>
.picker-view {
    width: 750rpx;
    height: 600rpx;
    margin-top: 20rpx;
}
.item {
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
</style>
