<template>
    <view>
        <my-login @loginsucess="loginSucess"></my-login>
    </view>
</template>

<script>
export default {
    data() {
        return {};
    },
    methods: {
        loginSucess() {
            uni.navigateBack({
                delta: 1,
            });
        },
    },
};
</script>

<style lang="scss"></style>
