<template>
    <view>
        <view @click="goTosearch">
            <my-search :isShow="true"></my-search>
        </view>
        <!-- 首页轮播图 -->
        <view class="uni-margin-wrap">
            <swiper
                @click="goToDetail"
                class="swiper"
                circular
                :indicator-dots="indicatorDots"
                :autoplay="autoplay"
                :interval="interval"
                :duration="duration"
            >
                <swiper-item v-for="item in imgList" :key="index">
                    <image :src="item.imgUrl" mode="widthFix"></image>
                </swiper-item>
            </swiper>
        </view>
        <!-- 列表的结构 -->
        <view>
            <uni-section title="卡片封面图+操作栏" type="line">
                <uni-card
                    @click="goToDetail"
                    :cover="item.pic || ''"
                    v-for="item in list"
                    :key="item.prodId"
                >
                    <!-- <image slot='cover' style="width: 100%;" :src="cover"></image> -->
                    <text class="uni-body">{{ item.prodName }}</text>
                </uni-card>
            </uni-section>
        </view>
    </view>
</template>

<script>
import { indexImgs, prodListByTagId } from '@/api/api';

import totalMixinx from '@/mixins/index';
export default {
    mixins: [totalMixinx],
    data() {
        return {
            background: ['color1', 'color2', 'color3'],
            indicatorDots: true,
            autoplay: true,
            interval: 2000,
            duration: 500,
            imgList: [], //轮播图的数组
            list: [], //列表的数组
            tagId: 1, //当前是第几页
            size: 6, //一页多少条
            pages: 1, //一共可以分多少页
        };
    },

    async created() {
        console.log('created');
        let res = await indexImgs();
        this.imgList = res;
        this.getinit();
    },
    onPullDownRefresh() {
        console.log('下拉');
        this.tagId = 1;
        this.pages = 1;
        this.size = 6;
        this.list = [];
        this.getinit();
    },
    onReachBottom() {
        this.tagId++;
        if (this.tagId <= this.pages) {
            this.getinit();
        }
        console.log('上啦');
    },

    methods: {
        goTosearch() {
            console.log('12312312213');
            //去搜索页面
            uni.navigateTo({
                url: '/searchpkg/search/search',
            });
        },
        goToDetail() {
            console.log(12313);
            uni.navigateTo({
                url: '/searchpkg/detail/detail',
            });
        },
        async getinit() {
            let res1 = await prodListByTagId({
                tagId: this.tagId,
                size: this.size,
            });
            this.list = this.list.concat(res1.records);
            this.pages = res1.pages;
            console.log(res1, 'res');
        },
        changeIndicatorDots(e) {
            this.indicatorDots = !this.indicatorDots;
        },
        changeAutoplay(e) {
            this.autoplay = !this.autoplay;
        },
        intervalChange(e) {
            this.interval = e.target.value;
        },
        durationChange(e) {
            this.duration = e.target.value;
        },
    },
};
</script>

<style lang="scss" scoped>
.uni-margin-wrap {
    width: 690rpx;
    width: 100%;
}
.swiper {
    height: 300rpx;
}
.swiper-item {
    display: block;
    height: 300rpx;
    line-height: 300rpx;
    text-align: center;
}
.swiper-list {
    margin-top: 40rpx;
    margin-bottom: 0;
}
.uni-common-mt {
    margin-top: 60rpx;
    position: relative;
}
.info {
    position: absolute;
    right: 20rpx;
}
.uni-padding-wrap {
    width: 550rpx;
    padding: 0 100rpx;
}
</style>
