<template>
    <view></view>
</template>

<script>
// import { mapState } from 'vuex';
// import totalMixinx from '@/mixins/index';
export default {
    // mixins: [totalMixinx],
    // data() {
    //     return {};
    // },
    // computed: {
    //     ...mapState('car', ['total']),
    // },
    // onShow() {
    //     console.log('onshow');
    //     this.setTabBarBadge();
    // },
    // methods: {
    //     setTabBarBadge() {
    //         uni.setTabBarBadge({
    //             index: 2,
    //             text: this.total + '',
    //         });
    //     },
    // },
};
</script>

<style lang="scss"></style>
