<template>
    <view>
        <!-- {{ $store.state.total }} -->
        {{ total }}
        <uni-goods-nav
            :options="options"
            :fill="true"
            :button-group="buttonGroup"
            @click="onClick"
            @buttonClick="buttonClick"
        />
        <view @click="goToCell">收藏</view>
    </view>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';
export default {
    data() {
        return {
            options: [
                {
                    icon: 'chat',
                    text: '客服',
                },

                {
                    icon: 'cart',
                    text: '购物车',
                    info: 2,
                },
            ],
            buttonGroup: [
                {
                    text: '加入购物车',
                    backgroundColor: 'linear-gradient(90deg, #FFCD1E, #FF8A18)',
                    color: '#fff',
                },
                {
                    text: '立即购买',
                    backgroundColor: 'linear-gradient(90deg, #FE6035, #EF1224)',
                    color: '#fff',
                },
            ],
        };
    },
    created() {
        console.log(this.$store.state.total);
    },
    computed: {
        //map:映射
        ...mapState('car', ['total']),
    },
    watch: {
        // total: function (newval, oldval) {
        //     console.log(newval, oldval);
        //     this.options[1].info = newval;
        // },
        total: {
            handler: function (newval, oldval) {
                console.log(newval, oldval);
                this.options[1].info = newval;
            },
            immediate: true,
        },
    },
    methods: {
        ...mapMutations('car', ['changeTotal']),
        ...mapActions('user', ['isLogin']),
        onClick(e) {
            uni.showToast({
                title: `点击${e.content.text}`,
                icon: 'none',
            });
        },
        buttonClick(e) {
            //点击加入购物车
            console.log(e);
            this.changeTotal();
            // this.options[1].info++;
        },
        async goToCell() {
            //点击收藏
            console.log('收拾');
            let result = await this.isLogin();
            console.log(result, 'result');
        },
    },
};
</script>

<style lang="scss"></style>
