<template>
	<view>
		<my-search
		 :isShow="false" 
		 :val="val"
		 @confirm="handleChangeSearch"
		 ></my-search>
		 
		 <view>
			 <view>
				 <text>搜索历史</text>
				 <text @click="clearStorage">删除</text>
			 </view>
			 <view>
				 <text v-for="(item,index) in historyList" :key="index">{{item}}</text>
			 </view>
		 </view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				val:'',
				historyList:uni.getStorageSync('historylist') || []
			};
		},
		methods:{
			handleChangeSearch(val){ //val是输入框的值
				console.log(val,'val')
				//1.把搜索的值存储到本地 2. 跳转到搜索结果页面，带搜索的值过去
				this.saveStorage(val);
				uni.navigateTo({
					url:'/searchpkg/search-result/search-result?val='+val
				})
			},
			clearStorage(){
				this.historyList=[];
				uni.removeStorageSync('historylist')
			},
			saveStorage(val){
				//搜索历史记录里面是否已经存在这个值，先把原来的值删了，再把最新的值加进来
				// 如果不存在，直接unshif就可以
				let ind = this.historyList.findIndex(item => item== val);
				if(ind !== -1 ){ //已经存在
					this.historyList.splice(ind,1)
				}
				this.historyList.unshift(val); //把搜索值放到数组前边
				uni.setStorageSync('historylist',this.historyList) //存储数组
			}
		}
	}
</script>

<style lang="scss">

</style>
